/* Aula inicial :D */
/* Usa ponto e vírgula no final */
/* Ctrl + Espaço, dá dica para completar código */

body {
    /* a parte total da página web */
    /* informar as propriedades para modificar as aparências */
    background-image: url('https://i.pinimg.com/564x/28/a8/f0/28a8f00f46fb67e059a44c1c6b9b181c.jpg'); /* plano de fundo */
    background-size: 20vh; /*muda o tamanho de acordo com as telas, masntém a proporção independente do computador*/
    font-family: Arial;
    height: 20vh;
  }
  
  .menu {
    /* selecionando todo mundo da tag menu */
    background-color: lightgrey;
  }
  
  .menu ul {
    display: flex; /* Exibição, os liks ficam um do lado do outro */
    justify-content: space-around; /*Espaço entre os links. Essa propriedade só funciona em conjunto com o display*/ 
  }
  
  .menu li {
    /* Se lê da direita para esquerda para saber quem vai ser "atingido" */
    /* Todas as li que estão dentro de uma classe chamada menu vão receber atributos */
     
    list-style: none; /* Tira os pontinhos característicos de listas */
  }
  
  a {
    /* a - linkes */
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    /* Quando passar o mouse por cima aparece o underline */
  }
  
  .site-subtitle,
  .site-title {
    color: indigo;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
  }